@model Livro
@{
    ViewData["Title"] = "Cadastro de Livros";
}

<h1 class="row justify-content-md-center">Cadastro de Livro</h1>

<div class="row justify-content-md-center">
    <form asp-action="Cadastro" method="POST" class="col-md-4">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Titulo">Titulo</label>
<<<<<<< HEAD
            <input asp-for="Titulo" class="form-control" required/>
        </div>
        <div class="form-group">
            <label asp-for="Autor">Ator</label>
            <input asp-for="Autor" class="form-control" required/>
        </div>
        <div>
            <label asp-for="Ano">Ano</label>
            <input asp-for="Ano" required/>
        </div>
        <input type="submit" value="Salvar" class="btn btn-primary"/>
    </form>
    <p class="text-danger row justify-content-md-center">@ViewData["Mensagem"]</p>
=======
            <input asp-for="Titulo" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Autor">Ator</label>
            <input asp-for="Autor" class="form-control"/>
        </div>
        <div>
            <label asp-for="Ano">Ano</label>
            <input asp-for="Ano" />
        </div>
        <input type="submit" value="Salvar" class="btn btn-primary"/>
    </form>
>>>>>>> 485efef68169b9d7be476153095d95e183e57389
</div>